.DS_Store
Gemfile.lock
spec/test_app
spec/dummy
.sass-cache
.bundle
*.swp
.rvmrc
*.gem
.idea
VersionFile

*.rbc
capybara-*.html
/db/*.sqlite3
/db/*.sqlite3-journal

/coverage/
/spec/tmp
docker-compose.yml
/.docker-sync
/.bundle
/vendor/bundle
